<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.player.livestream">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".BasicLiveStreamActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="basic"
                    android:path="/livestream"
                    android:scheme="demo" />
            </intent-filter>
        </activity>

    </application>

</manifest>