<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.player.playbacksurfaceview">

    <application>
        <activity
            android:name="com.aliyun.player.playbacksurfaceview.PlaybackSurfaceViewActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="basic"
                    android:path="/playback_surface_view"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
    </application>

</manifest>