<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alivc.player.scenes.shortplaylist">

    <application>
        <activity
            android:name="com.alivc.player.scenes.shortplaylist.AUIShortPlaylistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>